<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>info</title>
  </head>
  <body>
    <h1>Student Details</h1>
    <p>Name: {{student.name}}</p>
    <p>ID: {{student.id}}</p>
    <p>Roll: {{student.roll}}</p>
    <p>Profile: {{student.profile}}</p>
    <p>Email: {{student.email}}</p>
    <p>Marks: {{student.marks}}</p>
    <p>Birth Date: {{student.birthdate}}</p>
    <a href="{% url 'home' %}">Back to Home</a>
  </body>
</html>
