<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details page</title>
  </head>
  <body>
    <h1>Welcome to Details page!!</h1>
    <p>Player Name: {{ player.name }}</p>
    <p>Country: {{ player.country }}</p>
    <p>Batting Style: {{ player.bas }}</p>
    <p>Bowling Style: {{ player.bos }}</p>
    <p>Age: {{ player.age }}</p>
    <p>Runs Scored: {{ player.rs }}</p>
    <p>Wickets Taken: {{ player.wt }}</p>
  </body>
</html>
